*{
  margin: 0;
  padding: 0;
  /* border: 1px solid yellow; */
}

.App {
  font-family: "Roboto";
}
/* .appBar{
  background-color: rgb(144, 164, 255) !important;
} */
::-webkit-scrollbar {
  width: 8px;
  background: transparent
}
::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
  border-radius: 10px;
}